<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gender Classifier</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{url_for('static',filename='css/stylish-portfolio.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  

  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Gender Classifier</h2>
        <center>
            <form action="{{ url_for('predict')}}" method="POST">
            <label for="fname">Enter Name</label>
            <input type="text" id="fname"  name="namequery" placeholder="Your name.."></br>

          
            <ul class="actions align-center">
            <li><input value="predict" class="btn btn-primary btn-xl js-scroll-trigger" type="submit"></li> 
                
            </ul>
              </form>
        </center>
    </div>
  </section>